Давыдов ПИм-231

In [ ]:
import pandas as pd

1. Создайте объект Series, значениями которого являются целые числа от 1 до
5, а индексами символы 'a', 'b', 'c', 'd', 'e'.

In [ ]:
series_data = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(series_data)

a    1
b    2
c    3
d    4
e    5
dtype: int64

2. С помощью обращения по явному индексу получите значение 4.

In [ ]:
fourth_value = series_data['d']
print(fourth_value)

4

3. С помощью обращения по неявному индексу получите значение 2.

In [ ]:
second_value = series_data[1]
print(second_value)

2

4. Добавьте в серию новый элемент.

In [ ]:
series_data['f'] = 6
print(series_data)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

5. Используя операцию среза, получите значения 3, 4, 5.

In [ ]:
sliced_data = series_data['c':'e']
print(sliced_data)

c    3
d    4
e    5
dtype: int64

6. Создайте объект DataFrame из списка [[1, 2], [5, 3], [3.7, 4.8]] с именами
столбцов col1 и col2.

In [ ]:
data = [[1, 2], [5, 3], [3.7, 4.8]]
df = pd.DataFrame(data, columns=['col1', 'col2'])
print(df)

   col1  col2
0   1.0   2.0
1   5.0   3.0
2   3.7   4.8

7. Используя операцию индексации, получите элемент 3.7.

In [ ]:
three_seven = df['col1'][2]
print(three_seven)

3.7

8. Измените элемент 3 на 9.

In [ ]:
df['col2'][1] = 9
print(df)

   col1  col2
0   1.0   2.0
1   5.0   9.0
2   3.7   4.8

9. Используя операцию среза, получите строки с индексами 1 и 2

In [ ]:
sliced_rows = df.iloc[1:3]
print(sliced_rows)

   col1  col2
1   5.0   9.0
2   3.7   4.8

10. Добавьте столбец col3, значения которого – результат поэлементного
перемножения col1 и col2.

In [ ]:
df['col3'] = df['col1'] * df['col2']
print(df)

   col1  col2   col3
0   1.0   2.0   2.00
1   5.0   9.0  45.00
2   3.7   4.8  17.76